.show {
  font-size: 2rem;
  background-color: red;
  padding: 1rem;
  border-radius: 15px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 255, 255, 0.494);
  padding: 2rem;
  margin-top: 25%;
}

input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
}

p {
  margin-top: 1rem;
}

#delivered {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}
